body {
    position: relative;
    height: 100vh;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#pulsante {
    position: absolute;
    bottom:0;
    background-color: #E62100;
    padding: 0.5em 2em;
    font-weight: 700;
    font-size: 2em;
    border: none;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    color: white;
}

[id*='dice-side-'] {
    width: calc(100% / 7);
    float: left;
    background-color: #f2f2f2;
   /* border: 5px solid black;*/
    padding: 5%;
    font-size: 7.5em;
    text-align: center;
    margin: 3%;
    border-radius: 5px;
}

.locked {
	background-color: #EEDC00;
    /*color: white;*/
}

.dice-roll {
    cursor: pointer;
}